<div class="card" id="menu-vertical">
<nav class="navbar navbar-expand-lg navbar-dark" id="navbar-acomodar" >
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul>
      <li class="nav-item">
        <button type="button" class="btn btn-link">
          <img src="/assets/imagenes/iconos/1x/Recurso%202mdpi.png" href="/index" alt="">
          <div>
            <b>Reportes</b>
          </div>
        </button>

      </li>

      <li class="nav-item">
        <button type="button" class="btn btn-link">
          <img src="/assets/imagenes/iconos/1x/Recurso%202mdpi.png" href="/index" alt="">
        </button>
        <div>
          <b>Reportes</b>
        </div>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-link">
          <img src="/assets/imagenes/iconos/1x/Recurso%202mdpi.png" href="/index" alt="">
        </button>
        <div>
          <b>Reportes</b>
        </div>
      </li>

      <li class="nav-item">
        <button type="button" class="btn btn-link">
          <img src="/assets/imagenes/iconos/1x/Recurso%202mdpi.png" href="/index" alt="">
        </button>
        <div>
          <b>Reportes</b>
        </div>
      </li>


      <li class="nav-item">
        <button type="button" class="btn btn-link">
          <img src="/assets/imagenes/iconos/1x/Recurso%202mdpi.png" href="/index" alt="">
        </button>
        <div>
          <b>Reportes</b>
        </div>
      </li>


    </ul>


  </div>
</nav>

</div>
<!--


<div class="card" id="menu-vertical">
    <nav class="navbar navbar-expand-lg">
      <div class="collapse navbar-collapse" >
        <ul class="mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <button type="button" class="btn btn-link">
              <img src="/assets/imagenes/iconos/1x/Recurso%202mdpi.png" href="/index" alt="">
              <br>
              <b>Reportes</b>
            </button>
          </li>

          <li >
            <button type="button" class="btn btn-link">
              <img src="/assets/imagenes/iconos/1x/Recurso%202mdpi.png" href="/index" alt="">
              <br>
              <b>Reportes</b>
            </button>

          </li>

          <li>
            <button type="button" class="btn btn-link">
              <img src="/assets/imagenes/iconos/1x/Recurso%202mdpi.png" href="/index" alt="">
              <br>
              <b>Reportes</b>
            </button>

          </li>

          <li>
            <button type="button" class="btn btn-link">
              <img src="/assets/imagenes/iconos/1x/Recurso%202mdpi.png" href="/index" alt="">
              <br>
              <b>Reportes</b>
            </button>

          </li>

          <li>
            <button type="button" class="btn btn-link">
              <img src="/assets/imagenes/iconos/1x/Recurso%202mdpi.png" href="/index" alt="">
              <br>
              <b>Reportes</b>
            </button>

          </li>

          <li>
            <button type="button" class="btn btn-link">
              <img src="/assets/imagenes/iconos/1x/Recurso%202mdpi.png" href="/index" alt="">
              <br>
              <b>Reportes</b>
            </button>

          </li>

        </ul>
      </div>
    </nav>

</div>

-->
