<div class="container-fluid" id="navbar-principal">
        <div class="form-row">
          <div class="col-5">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        <div class="col-3" id="logo">
          <img  align="center" id="img-logo" src="assets/imagenes/logo-uniajc.png" class="d-inline-block align-top "
               alt="">

          </div>

        <div class="col-4" id="user">

          <img id="img-user" src="assets/imagenes/fotoperfilldpi.png" class="d-inline-block align-top float-right"
               alt="">
          <div class="d-inline-block align-top float-right" id="nombre-user">

            <p class="nombre-user ">
              Nicolas Ortiz
            </p>
          </div>

        </div>
      </div>
</div>


