<footer>
  <div class="container-fluid" id="navbar-principal">
    <div class="form-row">
      <div class="col-5" id="derechos-autor">
        <span>© Derechos reservados UNIAJC 2020</span>
      </div>
      <div class="col-3" id="logo-government">
        <img align="center" id="img-logo-government" src="assets/Logo-SmartCampus/government-01.png"
             class="d-inline-block align-top "
             alt="">

      </div>

      <div class="col-4" id="logo-SmartCampus">

        <img id="img-logo-SmartCampus" src="assets/Logo-SmartCampus/logos-smart-campus-.png"
             class="d-inline-block align-top float-right"
             alt="">
        <div class="d-inline-block align-top float-right" id="nombre-user">
        </div>

      </div>
    </div>
  </div>
</footer>



