#menu-titulo{
  background-color:#ffffff;
  border-radius: 10px;
  height: 98.37px;
  margin: 10px 5px 15px 10px;
  font-family: "Raleway Bold";
  font-size: 21pt;
  color: #0168C5;
}
#img-baner{
 padding-left: 120px;
}
