/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Raleway';
  src: url('assets/Raleway/Raleway-Regular.ttf') format('ttf');
  font-size: 14pt;
}
body{
  background-color: #F7F7F9;
}

